# backup files #
################
*~
*.swp
*.bak

# compiled files #
##################
*.pyc

# other files #
###############
power_format_pack/keybindings_linux_windows.json
todo
.noseids

# preference file #
###################
power_format_pack/.extra_buttons_prefs
power_format_pack/keybindings_linux_windows
