# backup files #
################
*~
*.swp
*.bak

# compiled files #
##################
*.pyc

# other files #
###############
todo
.noseids
.coverage
*.zip

# preference file #
###################
power_format_pack/.extra_buttons_prefs.json
power_format_pack/keybindings_linux_windows.pkl
power_format_pack/keybindings_macosx.pkl

# PyCharm files #
#################
.idea
