# backup files #
################
*~
*.swp

# compiled files #
##################
*.pyc

# other files #
###############
extra_buttons/docs/doc_start.html
extra_buttons/keybindings_linux_windows.json

# preference file #
###################
extra_buttons/.extra_buttons_prefs
